@{
    Page.Title = "About Us";
}

<section id="main">
<h1>A little bit about maneee </h1>
    <p>
      Mahindra XUV700 - India's first Alexa Built-in

Mahindra
https://auto.mahindra.com
With AdrenoX Connect app, access more than 60 connected features – anytime, anywhere. Get hands-free access to entertainment, information, and off-line vehicle control. Diesel & Petrol Engines. With Sci-Fi Tech. World Class Safety.
Hyderabad · 18 locations nearby

History
    </p>
   </section>
dont shout ok maneeeee
<iframe src="https://giphy.com/embed/EN0bYaouwtFkI" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/from-review-exclusive-EN0bYaouwtFkI">via GIPHY</a></p>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
