@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Fourth Coffee</h1>
    <p>
       hiiiigt ytefg gvefytgyugy gvtyfgueytg
    </p>
   </section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
